#headerwrap
    .container
        .row
            .col-lg-8.col-lg-offset-2
                .spacer
                %h1.h1-title-shwopp SOMERVILLE FOOD RESCUE
                .spacer
                %i.fa.fa-angle-down
#call
    .container
        .row
            %h3 WHAT IS SOMERVILLE FOOD RESCUE?
            .col-lg-8.col-lg-offset-2
                %p Tufts Food Rescue works to create and ensure food security in the local communities (Somerville and Medford) surrounding Tufts. We run a food collection network involving numerous donors and recipients, ranging from farmers markets and grocery stores to homeless shelters and food pantries. We collect food that would otherwise be thrown away  (despite its good condition) and deliver it to our partner recipients. These recipients in turn provide individuals and households in need with fresh options as a supplement as a complement to the low nutrient high calorie diet characteristic of low-income diets.
                %br/
                - if !user_signed_in?
                    %p
                        = link_to "Sign In Now", "#signIn", class: "btn btn-warning btn-lg", "data-toggle" => "modal"
                        = link_to "Become A Volunteer", "#signUp", class: "btn btn-green btn-lg", "data-toggle" => "modal"
        .row
            .col-md-2
            .col-md-8
                / .main-chart
            .col-md-2