#call.background
	.container
		.row
			.col-md-12.centered
				%h1.underlined
					PICKUP REPORTS
				.spacer
		.row
			.col-md-12
				%h3
					= flash[:notice]
				.spacer
				.spacer
				.spacer
				%h3
					Pickup report chart will be here. Individual reports will also appear here (for now they are saved in the database but not displayed). Fill out a new one by clicking the button below:
				.spacer
				.spacer
				.spacer
		.row
			.col-md-12
				= link_to new_pickup_report_path do
					.btn.btn-success.btn-lg
						%i.fa.fa-plus
						New Pickup Report
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				.spacer
				