#call.background
	.container
		.row
			.col-md-12.centered
				%h1.underlined
					PICKUP REPORTS
				.spacer
		- @pickup_reports.each do |pickup_report|
			= render 'partials/pickup_report_box', pickup_report: pickup_report
		.row
			.col-md-12.centered
				= will_paginate @pickup_reports