// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.volunteer-box {
	background-color: white;
	padding: 15px;
	margin-bottom: 10px;
	text-align: left !important;
}

.volunteer-profile-box {
	background-color: whitesmoke;
}

.volunteer-image, .volunteer-info {
	float: left;
}

.volunteer-image {
	margin-right: 10px;
}

.volunteer-name {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

.volunteer-email, .volunteer-phone {
	display: inline-block;
}

.left-section {
	float: left;
}

.right-section {
	float: right;
}

.volunteer-button {
	line-height: 34px;
}