// Place all the styles related to the pickups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 991px) {
	.pickup-box {
		min-height: 320px;
	}
}

.pickup-box {
	background-color: whitesmoke;
	padding: 15px;
	margin-bottom: 10px;
	text-align: left !important;
}

.day-title {
	color: whitesmoke !important;
}

.pickup-box h4 {
	color: black !important;
	font-weight: light;
}

.left-aligned {
	text-align: left;
}

.no-margins {
	margin: 0px;
}

.pickup-donor, .pickup-recipient {
	height: 100%;
	font-size: 18px;
	font-weight: bold;
	float: left;
}

.pickup-address, .pickup-phone {
	display: inline-block;
}

.left-section {
	float: left;
}

.left-section-width {
	width: 60%;
}

.right-section {
	float: right;
}

.pickup-button {
	line-height: 61px;
}